{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% extends "layout.html" %}
{% block title %}{{_("Users Administration") }}{% endblock %}
{% block column %}
    {% if not user_manager.session_logged_in() %}
        {% include "signin_button.html" %}
    {% else %}
        {{ template_helper.call('main_menu', template_helper=template_helper) | safe }}
    {% endif %}
{% endblock %}
{% block navbar %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#"><i class="fa fa-th-list fa-fw"></i> {{ _("Users Admin") }}
                <span class="sr-only">{{_("(current)")}}</span></a></li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <form method="post" class="form-horizontal">
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">{{ _("Username (min. 4 alphanumerical characters) :") }} </label>
                <input name="username" type="text" class="form-control">
            </div>
            <div class="col-sm-12">
                <label class="control-label">{{ _("Complete name :") }} </label>
                <input name="realname" type="text" class="form-control">
            </div>
            <div class="col-sm-12">
                <label class="control-label">{{ _("Email address :") }} </label>
                <input name="email" type="text" class="form-control">
            </div>
            <div class="col-sm-12">
                <label class="control-label">{{ _("Password (min. 6 characters) :") }} </label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="col-sm-12"><br />
                <button type="submit" name="register" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> {{ _("Create") }}</button>
            </div>
        </div>
    </form>
{% endblock %}