{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="form-group row">
    <label for="environment-type" class="col-sm-4 control-label">{{_("Grading environment type")}}</label>
    <div class="col-sm-8">
        <select id="environment-type" class="form-control" name="environment_type">
            {% for agent_type, agent_data in environments.items() %}
                <option value="{{agent_type}}" {{ 'selected="selected"' if agent_type == task_data.get('environment_type') }}>
                    {{ agent_data['obj'].name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

{% for agent_type, agent_data in environments.items() %}
    <div id="environment-box-{{ agent_type }}" class="environment-boxes" >
        <div class="form-group row">
            <label for="environment-id-{{ agent_type }}" class="col-sm-4 control-label">{{ _("Grading environment") }}</label>
            <div class="col-sm-8">
                <select id="environment-id-{{ agent_type }}" class="form-control" name="environment_id[{{ agent_type }}]">
                    {% for env in agent_data['envs'] | sort %}
                        <option value="{{env}}" {{ 'selected="selected"' if env == task_data.get('environment_id') }}>
                            {{ env }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {{ agent_data['obj'].studio_env_template(task_data, agent_data['capabilities']) | safe }}
    </div>
{% endfor %}
